<a href="https://colab.research.google.com/github/kimtaekyungim/2023-10-19-coding/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 사용자로부터 세개의 값 xyx를 입력받아서 1씩 각각 1씩 증가하도록 출력되는 코드를 입력하시오

In [3]:
int(input("x의 값을 입력하시오 "))
int(input("y의 값을 입력하시오 "))
int(input("z의 값을 입력하시오 "))
x  =  x  + 1
y  =  y  + 1
z  =  z +1
print('x의 값은 (x)이며 , y의 값은 (y)이고 , z의 값은 (z)이다')

x의 값을 입력하시오 1
y의 값을 입력하시오 2
z의 값을 입력하시오 3

NameError: ignored

2. 알바생의 시습을 계산하여 알바생의 월급을 출력하는 코드

In [4]:
hours_worked = int(input( '일한 시간을 입력하시오 ') )
pay_rate = int(input('시급을 입력하시오 ( 23기준 9620원 ) :'))
monthly_pay =  hours_worked * pay_rate
print(( '일한시간은 (hours_worked)이고 , 시급은 (pay_rate)이며 월급여는 (monthly_pay)입니다' ))

일한 시간을 입력하시오 1
시급을 입력하시오 ( 23기준 9620원 ) :1
일한시간은 (hours_worked)이고 , 시급은 (pay_rate)이며 월급여는 (monthly_pay)입니다

3. 환율계산하는 코드작성
 -원의 변수는 won
 -달러의 변수는 usd
 -환전의 변수는 exchange

In [5]:
won = int(input("환전할 금액을 입력(kor):"))
usd = int(input("현재 달러의 환율 입력(231031:1372):"))
exchange = won + usd
print("환전할 금액은 (won)이며 , 금액은 (usd)이며 , 환전 금액은 (exchange)이다 ")

환전할 금액을 입력(kor):1
현재 달러의 환율 입력(231031:1372):2
환전할 금액은 (won)이며 , 금액은 (usd)이며 , 환전 금액은 (exchange)이다

4. 화씨(fahrenheit)를 섭씨(celsius)로 변환하는 코드작성

In [6]:
fahrenheit = int(input( '화씨 온도을 입력하시오 ') )
celsius = (fahrenheit-32) / 1.8
print(('화씨온도는 (fahrenheit), 섭씨온도는 (celsius)도 입니다'))

화씨 온도을 입력하시오 1
화씨온도는 (fahrenheit), 섭씨온도는 (celsius)도 입니다

In [7]:
celsius = int(input( '섭씨 온도을 입력하시오 ') )
fahrenheit = (celsius * 1.8) + 32
print(('섭씨온도는 (celsius) , 화씨온도는 (fahrenheit)'))

섭씨 온도을 입력하시오 3
섭씨온도는 (celsius) , 화씨온도는 (fahrenheit)